[Unit]
Description=AMP collector
After=network.target rabbitmq-server.service influxdb.service
Wants=rabbitmq-server.service influxdb.service

[Service]
User=ampweb
Group=ampweb
Type=forking
RuntimeDirectory=ampweb
LogsDirectory=ampweb
ExecStart=/usr/bin/amplet2-collector -d
Restart=on-failure
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=yes
ProtectHome=yes
PIDFile=/run/ampweb/collector.pid

[Install]
WantedBy=multi-user.target
