#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@ --with systemd,python3 --buildsystem=pybuild

override_dh_compress:
	dh_compress usr/share/amplet2-collector/meta.sql

override_dh_installinit:
	dh_installinit --noscripts

override_dh_auto_test:
